<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="language" content="en"/>

    <title>{{ title }} &ndash; {{ sitetitle }}</title>

    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <nav>
        <div class="content-constraint">
            <a href="https://d20hero.club">d20hero.club</a>
            <a href="/" {{#if page_is_about}}class="current"{{/if}}>About</a>
            <a href="/tos" {{#if page_is_tos}}class="current"{{/if}}>Code of Conduct and Rules</a>
            <a href="/privacy-policy" {{#if page_is_privacy}}class="current"{{/if}}>Privacy Policy</a>
        </div>
    </nav>
    <main>
        <div class="content-constraint">
            {{{ contents }}}
        </div>
    </main>
    <footer>
        <div class="content-constraint">
            <p>
                This website content is <a href="https://github.com/photogabble/info-d20hero-club/blob/master/LICENSE">licenced</a> under the MIT License.<br>
                See an error or would like to contribute to this website? The source is <a href="https://github.com/photogabble/info-d20hero-club">available over on github</a>.
            </p>
        </div>
    </footer>
</body>
</html>