@import '../node_modules/normalize.css/normalize.css';

$dark: #444; // #0D0835;  // #040101
$light: #FFF; // #737AA8; // #D44614

html{
  background-color: $dark;  // #444;
  color: $light; // #fff;
}

body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a{
  color: $light;
  border-bottom: 1px solid rgba(255,255,255,0.7);
  text-decoration: none;
}

.content-constraint {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 900px;
}

nav{
  padding: 3rem 0;
  a{
    border:none;
    font-family: "Arial",sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 2rem;

    &:last-child{
      margin-right: 0;
    };

    &.current{
      border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    }
  }
}

main{
  flex:1;
  font-size: 1.3rem;
  line-height: 2rem;
  padding-bottom: 4rem;

  p:first-of-type{
    font-size: 1.6rem;
  }

  h2{
    margin-top: 4rem;
  }

  h2,h3{
    border-bottom: 1px solid;
  }
}

footer{
  background-color: #585858;
  padding: 4rem 0;
}